$def-gray: #bbb;
$drk-gray: #1e1e1e;
$drkr-gray: #121212;
$blk: #000;

* {
    color: #fff;
    box-sizing: border-box;
    font-family: Segoe UI;
}

body {
    background: $blk;
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    background: $drk-gray;
    border: 2px solid $def-gray;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 5px;
    cursor: default;
}

button {
    background: $drk-gray;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 200ms, box-shadow 200ms;

    &:hover {
        background: $drkr-gray;
    }
}

button.active {
    box-shadow: 0 0 0 1px rgb(229, 76, 44);
}

.output {
    border: 1.2px solid $def-gray;
    border-radius: 0 0 8px 8px;
    width: 40rem;
    height: 20rem;
}

.checkbox {
    background: #1169db;
    width: 45px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 200ms;

    .check-dot {
        background: $def-gray;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(300%, 50%);
        transition: transform 200ms;
    }

    span {
        position: absolute;
        left: 7.7%;
        margin-top: -12px;
        pointer-events: none;
    }
}

.load {
    float: right;
    padding: 7px;
    margin: -1.5px 0 0 0;
    border-radius: 5px;
    background: $drk-gray;
    cursor: pointer;
    transition: background 200ms;

    &:hover {
        background: $drkr-gray;
    }
}

.check-dot.unchecked {
    transform: translate(50%, 50%);
}

.ctx {
    background: $drk-gray;
    border: 1px solid $def-gray;
    border-radius: 8px;
    width: 10rem;
    padding: 7px;
    position: fixed;
    transform: scale(0);
    transform-origin: left top;
    user-select: none;
    cursor: default;
    transition: transform 200ms;

    .option {
        border-radius: 5px;
        padding: 5px;
        transition: background 200ms;

        &:hover {
            background: $drkr-gray;
        }
    }
}